@media only screen and (max-width: 769px) and (min-width: 450px ) {
    .yusman img{width: 100%;}
    .yusman-text{z-index:90;position:absolute;margin-left: 0; margin: 18px;}
    .yusman-text a{margin: 0 auto;display: table}
}    
@media only screen and (max-width: 950px) {
    .header h1{font-size: 400%;width: 80%}
    ul.quote {grid-template-columns:auto}
    ul.tabs {display: block;}
    .tab-content h3{width: 90%}
    .close{width: 10%}
    .data p{color: #ffffff; margin: 1em;}
    .quote-text p{font-size: 30px;padding: 0;line-height: 1.2}
}

@media only screen and (max-width: 730px) {
    .content, .quote{margin: 0 18px}
    .yusman, .data{margin: 0}
    .yusman img{width: 100%;}
    .yusman-text{z-index:90;position:absolute;margin-left: 0; margin: 18px;width: 100%;}
    .yusman-text a{margin: 0 auto;display: table}
    .header h1 {font-size: 300%;margin-top: 40%}
    .header h2 {font-size: 1.5em;}
    .title h1{margin: 10px; font-size:6vh}
    .data {height:30%}
    .data h2{font-size: 280%}
    .header h3{width: 100%}
}
@media only screen and (max-width: 388px) {
    .yusman-text p{font-size: 18px;margin:1em 0}
}
@media only screen and (max-width: 350px) {
    .yusman-text h2{font-size: 260%; margin: 0;line-height: 1}
    .yusman-text p{font-size: 16px;margin:1em 0}
}

@media only screen and (max-width: 1024px) {
    .yusman-text {margin-left: 2%}
    .image-bg{margin-left:5%;text-align: left}
    .header h3{margin-left: 0}
    .header h2{margin-right: 0}
}